In [42]:
import pandas as pd
import numpy as np
pd.__version__

'2.1.2'

In [64]:
df = pd.read_csv('Races.csv')
df[['Age','Gender']] = df['Age'].str.extract(r'(\d+)([ghm])')
df['Barrier'] = np.abs(df['Barrier'].astype(int))
df['Time'] = pd.to_timedelta('00:' + df['Time'])

In [65]:
def format_deltas(timedelta):
    minutes, seconds = divmod(timedelta.seconds, 60)
    microseconds = timedelta.microseconds
    return f"{minutes:02d}:{seconds:02d}.{microseconds // 1000:04d}" 


means = df.groupby('Track')[['Time']].mean()
means['Time'] = means['Time'].apply(format_deltas)
means.sort_values('Time')

             Time
Track
Fast   03:17.0800
Good   03:19.0601
Dead   03:22.0228
Soft   03:23.0633
Slow   03:24.0990
Heavy  03:27.0600

In [66]:
df['Trainer'].value_counts().sort_values(ascending=False).to_frame().merge(df[['Trainer', 'From']], on='Trainer', how='inner').drop_duplicates().query('count>1')

            Trainer  count From
0      Lee Freedman      5  AUS
5     Bart Cummings      5  AUS
10   Joseph O'Brien      2  IRE
12  Robert Hickmott      2  AUS
14   Dermot K. Weld      2  IRE

In [75]:
proportions = df.groupby(['From', 'Track'])[['Winner']].count().rename(columns={'Winner': '%'})
(100 * proportions / proportions.groupby(['From']).transform("sum")).round(1)

                %
From Track
AUS  Dead    23.8
     Fast    14.3
     Good    47.6
     Heavy    4.8
     Slow     4.8
     Soft     4.8
FR   Good    33.3
     Slow    33.3
     Soft    33.3
GB   Soft   100.0
GER  Good   100.0
IRE  Good    80.0
     Slow    20.0
JPN  Good   100.0
NZ   Dead    25.0
     Fast    25.0
     Good    50.0

In [68]:
df['Winner'].value_counts().to_frame().query('count>1')

             count
Winner
Makybe Diva      3

In [72]:
df.drop_duplicates('Winner').groupby('Gender')[['Winner']].count()

        Winner
Gender
g           16
h           12
m            6

In [70]:
df.groupby('Barrier')[['Winner']].count().query('Winner>2')

         Winner
Barrier
5             3
11            4
14            4
21            4

In [71]:
df

,Year,Winner,Age,Breeding,Foaled,Jockey,Trainer,From,Time,Track,No,Weight,Barrier,Odds,Gender
0,2023,Without A Fight,7,Teofilo - Khor Sheed,IRE,Mark Zahra,Anthony & Sam Freedman,IRE,0 days 00:03:18.370000,Good,3,56.5,16,7-1,g
1,2022,Gold Trip,5,Outstrip - Sarvana,FR,Mark Zahara,Ciaron Maher & David Eustace,FR,0 days 00:03:24.900000,Soft,1,57.5,14,20-1,g
2,2021,Verry Elleegant,6,Zed - Opulence,NZ,James McDonald,Chris Waller,AUS,0 days 00:03:17.400000,Good,4,57.0,18,17-1,m
3,2020,Twilight Payment,8,Teofilo - Dream On Buddy,IRE,Jye McNeil,Joseph O'Brien,IRE,0 days 00:03:17.300000,Good,6,55.5,12,25-1,g
4,2019,Vow And Declare,4,Declaration Of War - Geblitzt,AUS,Craig Williams,Danny O'Brien,AUS,0 days 00:03:24.800000,Soft,23,52.0,21,10-1,g
5,2018,Cross Counter,4,Teofilo - Waitress,GB,Kerrin McEvoy,Charlie Appleby,GB,0 days 00:03:21.200000,Soft,23,51.0,19,11-1,g
6,2017,Rekindling,4,High Chaparral - Sitara,GB,Corey Brown,Joseph O'Brien,IRE,0 days 00:03:21.200000,Good,22,51.5,4,15-1,h
7,2016,Almandin,7,Monsun - Anatola,GER,Kerrin McEvoy,Robert Hickmott,AUS,0 days 00:03:20.600000,Good,17,52.0,17,10-1,g
8,2015,Prince of Penzance,6,Pentire - Royal Successor,NZ,Michelle Payne,Darren Weir,AUS,0 days 00:03:23.100000,Good,19,53.0,1,100/1,g
9,2014,Protectionist,5,Monsun - Patineuse,GER,Ryan Moore,Andreas Wohler,GER,0 days 00:03:17.700000,Good,5,56.5,11,07-1,h
10,2013,Fiorente,6,Monsun - Desert Bloom,IRE,Damien Oliver,Gai Waterhouse,AUS,0 days 00:03:20.300000,Dead,6,55.0,5,13/2f,h
11,2012,Green Moon,6,Montjeu - Green Noon,IRE,Brett Prebble,Robert Hickmott,AUS,0 days 00:03:20.400000,Dead,14,53.5,5,19-1,h
12,2011,Dunaden,5,Nicobar - La Marlia,FR,Christophe Lemaire,Mikel Delzangles,FR,0 days 00:03:20.840000,Good,3,54.5,13,15-Feb,h
13,2010,Americain,6,Dynaformer - American,United States,Gérald Mossé,Alain de Royer Dupre,FR,0 days 00:03:26.870000,Slow,8,54.5,11,12-1,h
14,2009,Shocking,4,Street Cry - Machiavellian,AUS,Corey Brown,Mark Kavanagh,AUS,0 days 00:03:23.870000,Dead,21,51.0,21,09-1,h
15,2008,Viewed,5,Scenic - Lovers Knot,NZ,Blake Shinn,Bart Cummings,AUS,0 days 00:03:20.400000,Good,10,53.0,8,40/1,h
16,2007,Efficient,4,Zabeel - Refused the Dance,NZ,Michael Rodd,Graeme Rogerson,AUS,0 days 00:03:23.340000,Good,6,54.5,9,16-1,g
17,2006,Delta Blues,5,Sunday Silence - Dixie Splash,JPN,Yasunari Iwata,Katsuhiko Sumii,JPN,0 days 00:03:21.470000,Good,2,56.0,10,17-1,h
18,2005,Makybe Diva,6,Desert King - Tugela,GB,Glen Boss,Lee Freedman,AUS,0 days 00:03:19.170000,Dead,1,58.0,14,7/2f,m
19,2004,Makybe Diva,5,Desert King - Tugela,GB,Glen Boss,Lee Freedman,AUS,0 days 00:03:28.550000,Dead,5,55.5,7,5/2f,m
20,2003,Makybe Diva,4,Desert King - Tugela,GB,Glen Boss,David Hall,AUS,0 days 00:03:19.900000,Good,12,51.0,14,07-1,m
21,2002,Media Puzzle,5,Theatrical - Market Slide,United States,Damien Oliver,Dermot K. Weld,IRE,0 days 00:03:16.970000,Good,14,52.5,3,11-Feb,h
22,2001,Ethereal,4,Rhythm - Romanee Conti,NZ,Scott Seamer,Sheila Laxon,NZ,0 days 00:03:21.080000,Dead,13,52.0,11,09-1,m
23,2000,Brew,6,Sir Tristram - Horlicks,NZ,Kerrin McEvoy,Mike Moroney,NZ,0 days 00:03:18.680000,Good,24,49.0,22,14-1,g
24,1999,Rogan Josh,7,Old Spice - Eastern Mystique,AUS,John Marshall,Bart Cummings,AUS,0 days 00:03:19.640000,Good,17,50.0,21,05-1,g
25,1998,Jezabeel,6,Zabeel - Passefleur,NZ,Chris Munce,Brian Jenkins,NZ,0 days 00:03:18.590000,Good,22,51.0,16,6/1f,m
26,1997,Might and Power,4,Zabeel - Benediction,NZ,Jim Cassidy,Jack Denham,AUS,0 days 00:03:18.330000,Good,3,56.0,2,7/2f,g
27,1996,Saintly,4,Sky Chase - All Grace,AUS,Darren Beadman,Bart Cummings,AUS,0 days 00:03:18.800000,Good,5,55.5,3,08-1,g
28,1995,Doriemus,5,Norman Pentaquad - Golden Woods,NZ,Damien Oliver,Lee Freedman,AUS,0 days 00:03:27.600000,Heavy,6,54.5,21,10-1,g
29,1994,Jeune,6,Kalaglow - Youthful,GB,Wayne Harris,David Hayes,AUS,0 days 00:03:19.800000,Good,3,56.5,9,16-1,h
30,1993,Vintage Crop,7,Rousillon - Overplay,IRE,Michael Kinane,Dermot K. Weld,IRE,0 days 00:03:23.400000,Slow,6,55.5,5,14-1,g
31,1992,Subzero,4,Kala Dancer - Wiley Trader,AUS,Greg Hall,Lee Freedman,AUS,0 days 00:03:24.700000,Slow,8,54.5,14,04-1,g
32,1991,Let's Elope,4,Nassipour - Sharon 1e,NZ,Steven King,Bart Cummings,AUS,0 days 00:03:18.900000,Fast,15,51.0,10,3/1f,m
33,1990,Kingston Rule,5,Secretariat - Rose of Kingston,United States,Darren Beadman,Bart Cummings,AUS,0 days 00:03:16.300000,Fast,8,53.0,1,7/1ef,h
34,1989,Tawrrific,5,Tawfig - Joyarty,NZ,Shane Dye,Lee Freedman,AUS,0 days 00:03:17.100000,Fast,6,54.0,11,30-1,g
35,1988,Empire Rose,6,Sir Tristram - Summer Fleur,NZ,Tony Allan,Laurie Laxon,NZ,0 days 00:03:18.900000,Fast,11,53.5,20,5/1ef,m